@charset "BIG5";

.body
{
	margin:0px;
}
/* 頂部導覽 */
.topnavi
{
	background: #339933;
	position: relative;
	padding: 3px
}

/* 頂部導覽鏈接 */
.topnavi a
{
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* 導覽變色 */
.topnavi a:hover {
  background-color: green;
  color: #000000;
}

/* 背景 */
.backgroundImage{z-index: 1;}

.backgroundImage::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	
	background-image: url(img/macau_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.65;
    height:100%;
    width:100%;
	
}

/*搜尋欄對半*/
#innerplaneA{
	position: relative;
}
#innerplaneB{
	position: relative;
}
#innerplaneAA{
	left:0; width:50%; position: absolute;
}
#innerplaneBB{
	left:50%; width:50%; position: absolute;
}
/*#innerplaneAA .label{
	left:100%; position: absolute;
}*/

.containter-main{
	z-index: 1;

}

.webtitle{
	color: white;
	font-size: 25px;
	text-align: center;
	position: relative;
	margin:3px auto;
}

/* 搜尋器 */
.searching{
    position: relative;
	border: 2px solid #f2f2f2;
	border-radius:8px;
	background-color: #f2f2f2;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: auto;
	
}

/*房間數量*/
div.searching .roomsize{
	/*
	padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  	background-color: white;
  	*/
  	height: 75%;
  	width: 80%;
	margin: auto;
  	
}
/*星數*/
div.searching .stars{
  	position: relative;
	padding: 12px;
    border: none;	
  	height: 25%;
  	width: 80%;
  	margin: auto;
}

/*日期*/
/*--------------------------------------*/
div.searching .indate{
  	position: relative;
    border: none;
  	width: 80%;
  	top: 50%;
  	margin: auto;

}
div.searching .outdate{
	padding: 12px;
    border: none;
  	width: 80%;
  	margin: auto;	
}

div.searching.indate,div.searching.outdate label{
	font-size: 12px;
	color: black;
	width: 100%;
  	position: absolute;
  	height: 25%;
  	top: 50%;
  	transform: translateY(-50%);
	}
	
.dateformat{
	padding: 12px;
    border: none; 	
  	position: relative;

}
.dateformat2{
	/*padding: 12px;*/
    border: none;
  	float: left;
  	background-color: none;
  	
	/*text-align:center;*/
	color:black;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*margin: auto;*/

}

.dateformat input[type=text]{
	padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*--------------------------------------*/
/*搜尋欄*/
input[type=text]{
	padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
	margin: 5px;
  	margin-top: 1%;
}

/*搜尋按鈕*/
input[type=submit]{
	position: relative;
	padding: 15px;
	background-color: green;
	color: white;
	border-radius: 6px;
	width: 80%;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	left: 10%;
	bottom: 10%;
}

.half-text-half-input
{
	display: inline-block;
	
}

/*比例*/
.ipx10{width:10%;}
.ipx20{width:20%;}
.ipx60{width: 60%;}
.ipx80{width: 80%;}
.ipx100{width: 100%;}

/*搜尋結果頁*/
.searchResult{
    position:relative;
	border: 2px solid #f2f2f2;
	border-radius:8px;
	background-color: #f2f2f2;
	width: 100%;
	height: 90%;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: auto;
	
}

/*直立排版*/
.columnplane{
	position:relative;
	display:block;
	
}
.columnplane input{
  position: relative;
  display: block;
  left: -25%;
  margin: auto;
  padding: 12px;
  width: 50%;
  font-size: 15px;
}

/*搜尋結果表格*/
.tableStyle{
	width: 100%;
    border: 1px solid #333;
}

.tableStyle td,th{
	text-align: center;
    border: 1px solid #333;
    background-color: white;
}
.selected
{
	background-color: #eee;
	color: red;
}
.hiddenChoice
{
	display:none;
}
/*選擇按鈕*/
input[type=submit].chosed{
	padding: 15px;
	background-color: green;
	color: white;
	border-radius: 6px;
	width: 60%;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	
	left: 50%;
	bottom: 0;
  	transform: translateX(-50%);
}
/*----------------------------------------------*/

/*輸入+LABEL*/
.confirmbar{
	padding: 10px;
    border: none;
  	/*width: 60%;
	right: 50%;
	margin-top: 20px;*/
	height: 60px;
	display: block;

}
.confirmbar label{
	position: relative;
	text-align:right;
	color:black;
	font-size:10px;
	right: -25%;
}

.confirmbar input[type=text]{
	text-align:center;
	color:black;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/* 搜尋器 */
.BookingBox{
	border: 2px solid #ffffff;
	background-color: #ffffff;
	width: 80%;
	height: 300px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	
    position:relative;
    margin: auto;
    display: block;
	
}

@media screen and (max-width: 600px) {
	#innerplaneA, #innerplaneB{
	    width: 100%;
	    margin-top: 0;
	    display: block;
	    height: 50%;
	  }
 
	.searching{height: 105%;}
	
	#innerplaneA{
		top: 0;
		left: 0;
	}	
	 
	#innerplaneB{
		top: 50%;
		left: 0;
	}
}